<div class="jumbotron">
  <h1 class="display-4"><%= t('msg.welcome_1')%></h1>
  <p class="lead"><%= t('msg.welcome_2')%></p>
  <hr class="my-4">
  <p><%= t('msg.welcome_3')%></p>
  <%= render 'menu' %>
</div>