<h1><%= t('title.edit_coin')%> </h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class:'btn btn-info btn-sm' %> |
<%= link_to t('links.back'), coins_path, class:'btn btn-info btn-sm' %>